main.content{
    max-width:800px;
    margin:auto;
}

*{
    font-family: sans-serif;

}

.stitek{
    color:black;
    text-decoration:none;
    background-color: greenyellow;
    display:inline-block;
    padding:5px;
    border-radius:20px
}


header{
    display:flex;
    align-items:center;
    gap:5px
}

.vycpavka-hlavicka{
    flex-grow:1;
}

.prava-strana-hlavicka{
    justify-content:flex-end;
    display:flex;
    align-items:center;
    flex:1;
    gap:1em;
}